<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head}" />


<body>
  <header th:replace="~{navigation :: navigation_fragment}" />

  <h2 style="text-align: center;">PROJECTS</h2>


  <div style="margin-top: 25px; margin-bottom: 25px;">
    <a th:href="@{/projects/create}" class="new_project_button" name="New Project" title="New Project">New Project</a>
  </div>

  <div class="table-responsive">
    <table class="table table-projects table-bordered table-hover">
      <thead class="thead-dark">
        <tr class="text-center">
          <th>ID</th>
          <th>NAME</th>
          <th>DESCRIPTION</th>
          <th>MAIN IMAGE</th>
          <th>MANAGE</th>
        </tr>
      </thead>
      <tbody th:each="project : ${projects}">
        <tr>
          <td class="text-center" th:text="${project.id}"></td>
          <td class="text-center" th:text="${project.name}"></td>
          <td th:text="${project.description}"></td>
          <td class="text-center">
            <img style="max-width: 150px; max-height: 150px;" th:src="@{'/project/image/' + ${project.id}}" />
          </td>
          <td class="text-center">
            <div th:replace="~{fragments :: view_delete_edit}"></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <script>
    function confirmDelete(event) {
      const isConfirmed = confirm("Are you sure you want to delete this project?");
      if (!isConfirmed) {
        event.preventDefault();
      }
      return isConfirmed;
    }
  </script>


</body>


</html>